### **Working with SQL**

In [ ]:
# Here we ude mysql.connector library to connect database to python

### 1. **Using mysql.connector library**

In [2]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 435.7 kB/s eta 0:00:28
     --------------------------------------- 0.1/11.9 MB 762.6 kB/s eta 0:00:16
     --------------------------------------- 0.1/11.9 MB 950.9 kB/s eta 0:00:13
      --------------------------------------- 0.3/11.9 MB 1.3 MB/s eta 0:00:09
     - -------------------------------------- 0.4/11.9 MB 1.5 MB/s eta 0:00:08
     - -------------------------------------- 0.4/11.9 MB 1.4 MB/s eta 0:00:09
     - -------------------------------------- 0.5/11.9 MB 1.5 MB/s eta 0:00:08
     -- ------------------------------------- 0.6/11.9 MB 1.6 MB/s eta 0:00:07
     -- ------------------------------------- 0.7/11.9 MB 1.7 MB/s eta 0:00:07
     --- ------------------------------------ 0.9/11.9 MB 1.8 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 2.0 MB/s eta 0:00:06
     ---- ----------------------------------- 1.2/11.9 MB 2.1 MB/s eta 0:00:06
     ---- ----------------------------------- 1.4/11.9 MB 2.2 MB/s eta 0:00:05
     ----- ---------------------------------- 1.6/11.9 MB 2.3 MB/s eta 0:00:05
     ----- ---------------------------------- 1.6/11.9 MB 2.3 MB/s eta 0:00:05
     ------ --------------------------------- 1.8/11.9 MB 2.4 MB/s eta 0:00:05
     ------ --------------------------------- 1.9/11.9 MB 2.4 MB/s eta 0:00:05
     ------- -------------------------------- 2.1/11.9 MB 2.5 MB/s eta 0:00:04
     ------- -------------------------------- 2.3/11.9 MB 2.5 MB/s eta 0:00:04
     -------- ------------------------------- 2.4/11.9 MB 2.5 MB/s eta 0:00:04
     -------- ------------------------------- 2.6/11.9 MB 2.6 MB/s eta 0:00:04
     --------- ------------------------------ 2.9/11.9 MB 2.8 MB/s eta 0:00:04
     ---------- ----------------------------- 3.1/11.9 MB 2.9 MB/s eta 0:00:04
     ----------- ---------------------------- 3.3/11.9 MB 2.9 MB/s eta 0:00:03
     ------------ --------------------------- 3.6/11.9 MB 3.0 MB/s eta 0:00:03
     ------------- -------------------------- 3.9/11.9 MB 3.2 MB/s eta 0:00:03
     ------------- -------------------------- 4.1/11.9 MB 3.3 MB/s eta 0:00:03
     -------------- ------------------------- 4.4/11.9 MB 3.4 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 3.4 MB/s eta 0:00:03
     ---------------- ----------------------- 5.0/11.9 MB 3.5 MB/s eta 0:00:02
     ----------------- ---------------------- 5.2/11.9 MB 3.6 MB/s eta 0:00:02
     ------------------ --------------------- 5.5/11.9 MB 3.7 MB/s eta 0:00:02
     ------------------- -------------------- 5.9/11.9 MB 3.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 3.9 MB/s eta 0:00:02
     ---------------------- ----------------- 6.7/11.9 MB 4.0 MB/s eta 0:00:02
     ----------------------- ---------------- 6.9/11.9 MB 4.1 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 4.2 MB/s eta 0:00:02
     ------------------------- -------------- 7.6/11.9 MB 4.2 MB/s eta 0:00:02
     ------------------------- -------------- 7.7/11.9 MB 4.2 MB/s eta 0:00:01
     --------------------------- ------------ 8.2/11.9 MB 4.3 MB/s eta 0:00:01
     ---------------------------- ----------- 8.5/11.9 MB 4.4 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 4.5 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 4.6 MB/s eta 0:00:01
     --------------------------------- ------ 9.9/11.9 MB 4.8 MB/s eta 0:00:01
     ---------------------------------- ----- 10.1/11.9 MB 4.8 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 5.3 MB/s eta 0:00:01
     ------------------------------------ --- 10.8/11.9 MB 5.5 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 6.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247958 sha256=d8ac2040f4fd65896c7911dabceae5ff5227bcdeaa72f31371b160f827842aec
  Stored in directory: c:\users\godsc\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [14]:
import mysql.connector

In [20]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="world",
    auth_plugin="mysql_native_password")

Here while using 'connect' problem will arise.  
This is how to handle it->   
1. Use this code in SQL --   
ALTER USER 'root'@'localhost'  
IDENTIFIED WITH mysql_native_password  
BY 'root';  
2. Then use this code in SQL --  
FLUSH PRIVILEGES;  
3. Now write python code as --  
conn = mysql.connector.connect(  
    host="localhost",  
    user="root",  
    password="root",  
    database="worlds",  
    auth_plugin="mysql_native_password"  
)

In [22]:
pd.read_sql_query("SELECT * FROM country",conn)

C:\Users\godsc\AppData\Local\Temp\ipykernel_5108\858535147.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM country",conn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

### 2. **Using pymysql library**

In [9]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.3 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.3 kB 217.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.3 kB 279.3 kB/s eta 0:00:01
   ---------------------------------------- 45.3/45.3 kB 280.5 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [10]:
import pymysql

In [12]:
conn = pymysql.Connect(host="localhost",user="root",password="root",database="world")

In [18]:
pd.read_sql_query("SELECT * FROM city",conn)

C:\Users\godsc\AppData\Local\Temp\ipykernel_5108\374620591.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city",conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]