In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../0. DATASET/playtennis.csv')

In [3]:
data.head()

    Outlook Temperature Humidity    Wind PlayTennis
0     Sunny         Hot     High    Weak         No
1  Overcast        Mild   Normal  Strong         No
2  Overcast        Cool   Normal     NaN        Yes
3      Rain        Mild     High  Strong         No
4      Rain         Hot   Normal    Weak        Yes

In [4]:
data.shape

(200, 5)

In [ ]:
# Problem 1
# Outlook=Sunny, Temp=Hot, Humidity=High, Wind=Weak
# Play or No play?

In [ ]:
# Solution
# P(Yes| Sunny,Hot,High,Weak)=P(Sunny/Yes)*P(Hot/Yes)*P(High/Yes)*P(Weak/Yes)*P(Yes)
# P(No| Sunny,Hot,High,Weak)=P(Sunny/No)*P(Hot/No)*P(High/No)*P(Weak/No)*P(No)

# Compare and decide using the maximum a posteriori rule

In [7]:
# Now what if the problem changes->

In [8]:
# Problem 2
# Outlook=overcast, Temp=cold, Humidity=low, Wind=Weak
# Play or No play?

In [ ]:
# Solution
# P(Yes| overcast,cold,low,Weak)=P(overcast/Yes)*P(cold/Yes)*P(low/Yes)*P(Weak/Yes)*P(Yes)
# P(No| overcast,cold,low,Weak)=P(overcast/No)*P(cold/No)*P(low/No)*P(Weak/No)*P(No)

# Compare and decide using the maximum a posteriori rule

In [ ]:
# Now in Naive bayes 
# 2 phases 
# 1. Training
# In Training phase this algorithm creates a lookup table (in dictionary form) where all the possible probabilities are stored
# 2. Testing

In [ ]:
# Lets create the lookup table
data['PlayTennis'].value_counts()

PlayTennis
Yes    120
No      80
Name: count, dtype: int64

In [11]:
# 1. P(Yes)
py = 120/200
# 2. P(No)
pn = 80/200

In [12]:
print(py)
print(pn)

0.6
0.4

In [ ]:
# 3. Oulook column
pd.crosstab(data['Outlook'],data['PlayTennis'])

PlayTennis  No  Yes
Outlook
Overcast     4   54
Rain        44   30
Sunny       32   36

In [15]:
pon = 4/80
prn = 44/80
psn = 32/80

poy = 54/120
pry = 30/120
psy = 36/120

In [16]:
print(pon)
print(prn)
print(psn)

print(poy)
print(pry)
print(psy)

0.05
0.55
0.4
0.45
0.25
0.3

In [18]:
# 4. Temperature column
pd.crosstab(data['Temperature'],data['PlayTennis'])

PlayTennis   No  Yes
Temperature
Cool         33   33
Hot          25   36
Mild         22   51

In [29]:
pcooln = 33/80
photn = 25/80
pmildn = 22/80

pcooly = 33/120
photy = 36/120
pmildy = 51/120

In [30]:
print(pcooln)
print(photn)
print(pmildn) 

print(pcooly)
print(photy)
print(pmildy)

0.4125
0.3125
0.275
0.275
0.3
0.425

In [19]:
# 5. Humidity column
pd.crosstab(data['Humidity'],data['PlayTennis'])

PlayTennis  No  Yes
Humidity
High        58   34
Normal      20   79

In [31]:
phighn = 58/78
pnormaln = 20/78

phighy = 34/113
pnormaly = 79/113

In [32]:
print(phighn)
print(pnormaln)

print(phighy)
print(pnormaly)

0.7435897435897436
0.2564102564102564
0.3008849557522124
0.6991150442477876

In [20]:
# 6. Wind column
pd.crosstab(data['Wind'],data['PlayTennis'])

PlayTennis  No  Yes
Wind
Strong      41   38
Weak        37   74

In [33]:
pstrongn = 41/78
pweakn = 37/78

pstrongy = 38/112
pweaky = 74/112

In [34]:
print(pstrongn)
print(pweakn)

print(pstrongy)
print(pweaky)

0.5256410256410257
0.47435897435897434
0.3392857142857143
0.6607142857142857

In [35]:
# Answer to Problem 1
# Outlook=Sunny, Temp=Hot, Humidity=High, Wind=Weak
PYes = psy * photy * phighy * pweaky * py
PNo = psn * photn * phighn * pweakn * pn

In [36]:
print(PYes)
print(PNo)

0.01214093823370056
0.02317606921896863

In [37]:
# Since PNo>PYes 
# No Play

In [38]:
# For Problem 2
# Outlook=overcast, Temp=cool, Humidity=Normal, Wind=Weak
PYes2 = poy * pcooly * pnormaly * pweaky * py
PNo2 = pon * pcooln * pnormaln * pweakn * pn

In [39]:
print(PYes2)
print(PNo2)

0.034297210809102405
0.0010034516765285995

In [40]:
# Since PNo<PYes 
# Play